<a href="https://colab.research.google.com/github/Jeralph-Red/OOP-58001/blob/main/Operations_and_Expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [3]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

bool() function

In [27]:
print(bool("Jeralph"))
print(bool(19))
print(bool([]))
print(bool(0))
print(bool(1))
print(bool("none"))
print(bool("false"))

True
True
False
False
True
True
True

Function can return Boolean

In [19]:
def myFunction():
  return True
print(myFunction())

True

In [20]:

if myFunction():
  print("Yes!")
else:
  print("No!")

Yes!

Application 1

In [37]:
a=8
b=7
print (a>b)

if a<b:
  print("a is less tha b")
else:
  print("a is greater than b")

True
a is greater than b

Python Operators

In [39]:
print(10+3)
print(10-3)
print(10*3)
print(10//3)
print(10%3)
print(10/3)

13
7
30
3
1
3.3333333333333335

Bitwise Operators

In [49]:
a=60
b=13
# a = 60, binary 0011 1100
# b = 13, binary 0000 1101

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a<<2)

12
61
49
120
240

Application 2

In [55]:
#Assignment Operators
x = 2
x+=3 # the same as x = x+3, 2+3=5
print(x)
x-=3 # the same as x = x-3
print(x)
x*=3 # the same as x = x*3
print(x)
x/=3 # the same as x = x/3
print(x)
x%=3 # the same as x = x%3
print(x)

5
2
6
2.0
2.0

Logical Operators

In [60]:
k=True
l=False
print(k and l)
print(k or l)
print(not(k or l))

False
True
False

Identify Operators

In [62]:
k is l
k is not l

True

#Control Structure

IF Statement

In [69]:
v=1
z=1

if 1<2:
  print("1 is less than 2")

1 is less than 2

Elif Statement

In [70]:
if v<z:
  print("v is less than z")
elif v>z:
  print("v is greater than z")

Else Statement

In [76]:
number = int(input()) #to know if the number is positive or negative

if number>0:
  print("Positive")
elif number<0:
  print("Negative")
else:
  print("Number is equal to zero")

0
Number is equal to zero

Application 3 - Develope a Python Program that will accept if a person is entitled to vote or not

In [78]:
age = int(input())

if age>=18:
  print("You are qualified to Vote")
else:
  print("You are not qualifited to Vote")

10
You are not qualifited to Vote

Nested If... Else

In [91]:
U = int(input())
if u>10:
  print("U is above 10")
  if u>20:
    print("U is above 20")
    if u>30:
      print("U is above 30")
      if u>40:
        print("U is above 40")
        if u>50:
          print("U is above 50")
        else:
          print("U is below 50")

49
U is above 10
U is above 20
U is above 30
U is above 40
U is below 50

#Loop Structure

In [94]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
season = ['rainy','sunny']

for x in week:
  for y in season:
    print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

The Break Statement

In [99]:
for x in week:
  if x=="Thursday":
    break
print(x)

Thursday

In [100]:
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [102]:
# To display Sunday to Thursday
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

While Loop

In [103]:
i=1

while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 4 - Create a Python program that displays number from 1 to 4 using while loop statement.

In [110]:
j=1

while j<=4:
  print(j)
  j+=1

1
2
3
4

Application 5 - Create a Python program that displays number 4 using while loop statement and break statement

In [114]:
j=1

while j<=4:
  if j==4:
    print(j)
  j+=1

4